
#floor_plan_image {
    position: absolute;
    z-index: 2;
}

.floor_plan_container {
    margin-top: 1.2em;
    position: relative;
    z-index: 1;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor_plan_overlay {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.markers {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: orange;
    z-index: 99;
    padding: 0;
    margin: 0;
}

.sofa {
    position: absolute;
    z-index: 10;
    transform-origin: center center;
    width: auto;
    height: auto;
}

#floating_menu{
    z-index: 10;
    padding: 10px;
    text-align: center;

    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px Gainsboro;
    background-color: white;
}

#calibrate_menu{
    padding: 30px;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px Gainsboro;
    background-color: white;

    h3{
      margin-bottom: 20px;
    }

    p{
      margin-bottom: 10px;
    }
}

.main_container{
    position: relative;
    height: auto;
    padding-top: 30px;

    .file-name{
      width: 300px;
      margin-right: 10px;
      background: white;
    }

    button{
      margin-right: 10px;
    }
}
