<div class="modal">

            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Cart</p>
                  <div class="delete" id="modal-x-button"aria-label="close"></div>
                </header>
                <section class="modal-card-body">
                    <table class="modal-table">


                    </table>
                </section>
                <footer class="modal-card-foot">
                    <button  class="button is-success checkout-button" role="link">Checkout</button>
                    <div class="button" id="modal-cancel-button">Cancel</div>
                    <div class="cart-total">Total: $</div>
                </footer>
            </div>

</div>
