<div class="modal" id="cart">

            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title cart-title">Cart</p>
                  <div class="delete" id="modal-x-button"aria-label="close"></div>
                </header>
                <section class="modal-card-body">
                  <div class="progress-steps-outer">
                    <div class="progress-steps-inner">
                      <div class="all-steps">
                        <div class="each-step">
                          <div class="step-number active">1</div>
                        </div>
                        <div class="step-line active"></div>
                        <div class="each-step">
                          <div class="step-number active">2</div>
                        </div>
                        <div class="step-line"></div>
                        <div class="each-step">
                          <div class="step-number">3</div>
                        </div>
                      </div>
                      <div class="all-steps-label">
                        <div class="each-step">
                          <div class="step-label">Review Cart</div>
                        </div>
                        <div class="each-step">
                          <div class="step-label">Enter Delivery Details</div>
                        </div>
                        <div class="each-step">
                          <div class="step-label">Make Payment</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cart-body"></div>

                </section>
                <footer class="modal-card-foot">
                    <button  class="button is-success checkout-button" role="link">Checkout</button>
                    <div class="button" id="modal-cancel-button">Cancel</div>

                </footer>
            </div>

</div>
