<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container is-fluid">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				Oak & Brass
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="main-navbar" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link is-arrowless" href="/furnitures?main_category=furnitures">
						Furniture
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="/furnitures?category=bed">
							Bed
						</a>
						<a class="navbar-item" href="/furnitures?category=sofa">
							Sofa
						</a>
						<a class="navbar-item" href="/furnitures?category=chair">
							Chair
						</a>
						<a class="navbar-item" href="/furnitures?category=cabinet">
							Cabinet
						</a>
                        <a class="navbar-item" href="/furnitures?category=sideboard">
                            Sideboard
                        </a>
                        <a class="navbar-item" href="/furnitures?category=table">
                            Table
                        </a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link is-arrowless" href="/furnitures?main_category=accessories">
						Accessories
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="/furnitures?category=lighting">
							Lighting
						</a>
						<a class="navbar-item" href="/furnitures?category=cushion">
							Cushion
						</a>
						<a class="navbar-item" href="/furnitures?category=rug">
							Rug
						</a>
						<a class="navbar-item" href="/furnitures?category=decor">
							Decor
						</a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link is-arrowless" href="/furnitures">
						Room
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item" href="/furnitures?main_category=living%20room">
							Living Room
						</a>
						<a class="navbar-item" href="/furnitures?main_category=kitchen">
							Kitchen
						</a>
						<a class="navbar-item" href="/furnitures?main_category=bed%20room">
							Bed Room
						</a>
						<a class="navbar-item" href="/furnitures?main_category=study">
							Study
						</a>
                        <a class="navbar-item" href="/furnitures?main_category=bath%20room">
                            Bath Room
                        </a>
                        <a class="navbar-item" href="/furnitures?main_category=dining%20room">
                            Dining Room
                        </a>
					</div>
				</div>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link is-arrowless">
						About
					</a>

					<div class="navbar-dropdown">
						<a class="navbar-item">
							Design Philosohy
						</a>
						<a class="navbar-item">
							Shipping and Returns
						</a>
						<a class="navbar-item">
							Store Locations
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item">
							About Us
						</a>
					</div>
				</div>
			</div>

			<div class="navbar-end cart-modal">
				<a class="navbar-item">
					<i class='bx bxs-heart'></i>Wishlist
				</a>
				<a class="navbar-item">
					<div class="cart-count-container">
						<div class="cart-count"><%=@carts.length%></div>
					</div>
					<i class='bx bxs-cart'></i>
					Cart
				</a>
				<a class="navbar-item" href="./users/sign_in">
					<i class='bx bxs-user-circle'></i>Login
				</a>
			</div>
		</div>
	</div>
</nav>
