<div class="nav">
  <nav class="left">
    <ul>
      <li>Sofas</li>
      <li>Tables</li>
      <li>Chairs</li>
      <li>Beds</li>
      <li>Lights</li>
      <li></li>
    </ul>
  </nav>
  <nav class="right">
    <ul>
      <li><i class='bx bxs-heart' ></i>Wishlist</li>
      <li><div class="cart-count-container">
            <div class="cart-count">3</div>
          </div>
            <i class='bx bxs-cart'></i> Cart </li>
      <li><i class='bx bxs-user-circle' ></i></li>
    </ul>

  </nav>
</div>
