<div class-="nav">
  <nav>
    <ul>e
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>
  </nav>
  <nav>eeee
    <box-icon name='heart' type='solid' ></box-icon>
    <box-icon type='solid' name='cart'></box-icon>
    <box-icon name='user' type='solid' ></box-icon>
  </nav>
</div>
